.clearfix:after {
	clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
	background: url("../images/bg.jpg") repeat scroll 0 0 #000000;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#timer {
	font-size: 380px;
	padding-top: 150px;
	color: #FFFFFF;
}

#minute {
	float: left;
}

#separator {
	float: left;
}

#second {
	float: left;
}